html {
    font-family: "Georgia", sans-serif;
  }

  body {
    width: 50%;
    padding: 0;
    margin: 10px;
    background-color: #f7a800;
    background-size: 56px 56px;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
  }
  .lastResult {
    color: white;
    padding: 3px;
  }